@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>For lunch today, we're having: <b>@Model.LunchSpecial</b></p>
    <p>I am running on <b>@Model.Platform</b></p>
    <p>This is the <span style="color: blue">BLUE</span> deployment. </p>
</div>
